.claim-form {
  display: block;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.form-group {
  margin-top: 25px;
}

.form-group input {
  margin-top: 5px;
}

.form-group label {
  font-weight: bolder;
}

.form-group input, select {
  width: 300px;
}

.form-group small {
  display: block;
  width: fit-content;
}


#create-btn {
  margin: 20px auto auto;
}
